.d2l-le-disc-post {
	background-color: #ffffff;
	border-top: 1px solid var(--d2l-color-mica);
}

.d2l-le-disc-post-border {
	border-left: 4px solid transparent;
}

[dir='rtl'] .d2l-le-disc-post-border {
	border-left: 0 solid transparent;
	border-right: 4px solid transparent;
}

.d2l-le-disc-post-unread {
	border-left: 4px solid var(--d2l-color-celestine);
}

[dir='rtl'] .d2l-le-disc-post-unread {
	border-left: 0 solid var(--d2l-color-celestine);
	border-right: 4px solid var(--d2l-color-celestine);
}

.d2l-le-disc-post-newStyling,
.d2l-le-disc-post-deleted {
	background-color: var(--d2l-color-celestine-plus-2);
}

.d2l-le-disc-post-unapproved {
	border-left: 4px solid var(--d2l-color-carnelian);
}
[dir='rtl'] .d2l-le-disc-post-unapproved {
	border-left: 0 solid var(--d2l-color-carnelian);
	border-right: 4px solid var(--d2l-color-carnelian);
}.d2l-show-link-container {
	float: left;
}

[dir='rtl'] .d2l-show-link-container {
	float: right;
}

.d2l-side-view-container {
	float: right;
}

[dir='rtl'] .d2l-side-view-container {
	float: left;
}

.d2l-last-post-date-container {
	display: inline-block;
}.d2l-le-disc-uvdv-left {
	position: absolute;
	top: 0;
	left: 0;
}

.d2l-le-disc-uvdv-right {
	position: absolute;
	top: 0;
	right: 0;
}

@media(max-width: 554px) {
	.d2l-post-rating-wrapper .d2l-le-disc-uvdv-left {
		left: -5px;
		padding-top: 15px;
		top: 33px;
	}

	.d2l-le-disc-posrev .d2l-rating-postview-wrapper {
		margin-left: 0;
	}
}
.d2l-le-disc-posrev {
	position: relative
}
.d2l-discussionselectall > .d2l-selectall {
	margin-right: 8px;
}

.d2l-discussionselectall > .d2l-discussionselectall-all-selected {
    margin-right: 8px;
}

.d2l-discussionselectall > .d2l-discussionselectall-notall-selected {
    margin-right: 8px;
}
.d2l-thread-counts-user {
	display: flex;
	flex-flow: row wrap;
}

.d2l-thread-reply-counts {
	display: flex;
	flex: 1 0 auto;
	flex-flow: row wrap;
	max-width: 100%;
}

.d2l-thread-counts-user .d2l-last-post-by {
	max-width: 280px;
	padding-top: 15px;
	width: 100%;
}

.d2l-last-post-by div:nth-child(2) {
	max-width: none;
}

.d2l_le_discussions_threadlistitem_subject {
	width: 100%;
}

.d2l_le_discussions_threadlistitem_subject_with_stars {
	width: calc( 100% - 9.5rem );
}

.d2l_le_discussions_threadlistitem_subject_with_stars > div:first-child,
.d2l_le_discussions_threadlistitem_subject > div:first-child {
	max-width: calc( 100% - 3rem );
}.d2l-post-list-filter-sort-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.d2l-post-list-filter {
	align-items: center;
	display: inline-flex;
}

.d2l-post-list-filter .d2l-menuflyout,
.d2l-post-list-filter .d2l-link {
	font-size: 0.8em;
}

.d2l-post-list-filter .d2l-link,
.d2l-post-list-filter > .d2l-textblock {
	margin-top: 0;
}.d2l-discussions-postto-container {
	display: flex;
}

.d2l-discussions-postto-label {
	white-space: nowrap;
	padding-right: 8px;
}.d2l-thread-statuses-container {
	align-items: center;
	display: flex;
}

.d2l-thread-statuses-container {
	margin-right: 1.4em;
}

[dir="rtl"] .d2l-thread-statuses-container {
	margin-left: 1.4em;
	margin-right: 0;
}.d2l-center {
	display: flex;
	align-items: center
}.d2l-forum-filter .d2l-filterinline-label,
.d2l-forum-filter .d2l-filterinline-group-filter {
	padding-bottom: 0;
}

.d2l-forum-filter .d2l-filterinline-group-filter > div {
	margin-bottom: 0;
}

.d2l-forum-filter-showhide {
	display: flex;
	flex-flow: row wrap;
}

.d2l-forum-filter-showhide .d2l-forum-filter {
	flex: 1 0 auto;
}.d2l-discussions-topic-details-description {
	overflow: auto;
}.d2l-thread-list-filter-sort-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.d2l-thread-list-filter {
	align-items: center;
	display: inline-flex;
}

.d2l-thread-list-filter > .d2l-textblock {
	margin-top: 0;
}
.d2l-thread-list-filter .d2l-menuflyout,
.d2l-thread-list-filter .d2l-link {
	font-size: 0.8em;
}

.d2l-thread-list-filter .d2l-link,
.d2l-thread-list-filter > div > .d2l-textblock {
	margin-top: 0;
}

.d2l-msg-container.d2l-datalist-empty {
	margin: 15px;
}
.d2l-topic-editable-html-editor-container {
	max-width: 685px;
}.d2l-twopanelselector-main {
	max-width: 1px;
}

.d2l-twopanelselector-header .d2l-page-header,
.d2l-twopanelselector-main .d2l-page-header {
	margin-bottom: 0;
}

.d2l-twopanelselector-side-padding {
	padding-top: 10px;
}.d2l-forum-details {
	padding-top: 10px;
}.d2l-page-collapsepane-container {
	display: none;
}

.d2l-page-collapsepane-container.d2l-page-collapsepane-show {
	display: block;
}

@media (max-width: 993px) {
	.d2l-twopanelselector-side {
		display: none;
	}

	.d2l-page-collapsepane-container {
		display: block;
	}

	.d2l-page-collapsepane-container a.d2l-link#topicListLeftPanelLink {
		display: none;
	}
}

#topicListLeftPanel .d2l-accordion-content .d2l-sep.d2l-sep-b hr {
	border-top: 1px solid var(--d2l-color-gypsum);
}.d2l-discussions-post-header .d2l-heading {
	max-width: calc(100% - 45px);
	word-wrap: break-word;
}

.d2l-discussions-post-header {
	width: calc(100% - 60px);
}

.d2l-discussions-post-header .d2l-heading.vui-heading-4 ~ .d2l-contextmenu-ph {
	margin-top: calc((1.5rem - 40px) / 2);
}

.d2l-discussions-post-header .d2l-textblock-secondary {
	line-height: 0.7rem;
}

.d2l-discussions-post-header .vui-heading-3 {
	line-height: 1rem;
}.d2l-thread-side-view-iterator {
	padding-top: 10px;
}