@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scrollbar-width: thin;
    scrollbar-color: black;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    @apply w-2.5 lg:w-2.5
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 14px;
    border: 1px solid hsla(0, 0%, 100%, 0.25);
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: black;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #454545 transparent;
}

body:has(dialog[open]) {
    overflow: hidden;
}

select option {
    margin: 40px;
    background: rgba(0, 0, 0, 1);
    color: #fff;
    border: black;
}