@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-family: 'Segoe UI',
        Tahoma,
        Geneva,
        Verdana,
        sans-serif
}

.triangle {
    width: 0;
	height: 0;
    transform: rotate(15deg);
	border-top: 5em solid transparent;
	border-right: 8em solid purple;
	border-bottom: 5em solid transparent;
    filter: brightness(0.6);
}


.schedule-bg-1, .schedule-bg-3, .schedule-bg-5 {
    background-color: #e1b7fd;
    color:#9617af;
    font-weight: 700;
}

.schedule-bg-4, .schedule-bg-2 {
    background-color: #abd1ff;
    color: #4256c2;
    font-weight: 700;
}

.schedule-bg-0 {
    background-color:#abfff4;
    color:#2098bd;
    font-weight: 700;
}

.class-5 {
    margin-bottom: 0;
}

.text-colors {
    font-size: 55px;
    background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff8a00),
    to(#e52e71)
    );
    background: linear-gradient(to bottom right, purple, skyBlue);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: none;
}

.header-blur {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(10px);
}

.register {
        a {
            display: block;
            width: 200px;
            height: 55px;
            line-height: 50px;
            font-size: 18px;
            font-family: sans-serif;
            text-decoration: none;
            color: white;
            font-weight: 700;
            font-size: 1.5em;
            margin-top: 0.2em;
            margin-bottom: 0.2em;
            border: 3px solid purple;
            letter-spacing: 5px;
            text-align: center;
            position: relative;
            transition: all .35s;
            background: opacity($color: #000000c9)
        }
    
        a span {
            position: relative;
            z-index: 2;
        }
    
        a:after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: purple;
            transition: all .35s;
        }
    
        a:hover {
            color: #fff;
        }
    
        a:hover:after {
            width: 100%;
        }
}

.register2 {
    a {
            display: block;
            width: fit-content;
            height: fit-content;
            padding: 1px 20px 1px 20px;
            line-height: 50px;
            font-size: 18px;
            font-family: sans-serif;
            text-decoration: none;
            color: purple;
            font-weight: 700;
            font-size: 1.5em;
            margin-top: 0.2em;
            margin-bottom: 0.2em;
            border: 3px solid purple;
            border-radius: 30px;
            overflow: hidden;
            letter-spacing: 5px;
            text-align: center;
            position: relative;
            transition: all .35s;
            background: opacity($color: #000000c9)
        }
    
        a span {
            position: relative;
            z-index: 2;
        }
    
        a:after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: purple;
            transition: all .35s;
        }
    
        a:hover {
            color: #fff;
        }
    
        a:hover:after {
            width: 100%;
        }
}

.register1 {
    a {
        display: block;
        width: 200px;
        height: 55px;
        line-height: 50px;
        font-size: 18px;
        font-family: sans-serif;
        text-decoration: none;
        color: white;
        font-weight: 700;
        font-size: 1.5em;
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        border: 3px solid #2098bd;
        letter-spacing: 5px;
        text-align: center;
        position: relative;
        transition: all .35s;
        background: opacity($color: #000000c9)
    }

    a span {
        position: relative;
        z-index: 2;
    }

    a:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #2098bd;
        transition: all .35s;
    }

    a:hover {
        color: #fff;
    }

    a:hover:after {
        width: 100%;
    }
}

.homePicture {
    background-image: url("../public/bgMUN.jpg");
    filter: brightness(0.70);
    position: center;
    left: 0;
    top: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: contain;
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(purple, purple)
}

.link-underline-black-1 {
    background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(150, 23, 175), rgb(150, 23, 175))
}

.link-active {
    background-size: 100% 3px;
    background-position: 0 100%;
}

.link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%
}